/* 
html5doctor.com Reset Stylesheet
v1.4.1 
2010-03-01
Author: Richard Clark - http://richclarkdesign.com
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

:focus {
  outline: 1;
}

article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* Fonts */
@font-face { 
  font-family: "Raleway"; 
  src: url("raleway.otf");
}

/* Styles */
body {
  text-align: center;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#6fbde2), to(#9cdff2)); 
  background-image: linear-gradient(top, #6fbde2, #9cdff2);
  color: #555;
}
  h1, h2 {
    color: #fff;
    text-shadow: #0099d3 1px 1px 0;
    margin: 50px 0 25px 0;
  }
  h1 {
    font-size: 6em;
  }
  h2 {
    font-size: 4em;
  }
  input, meter {
    display: none;
  }
  .ratemate {
    margin-bottom: 10px;
  }
  .control {
    cursor: pointer;
  }
  p, pre {
    margin: 0 auto 20px auto;
    width: 600px;
    text-shadow: #fff 1px 1px 0;
  }
  p {
    font-size: 1.3em;
    line-height: 1.5em;
  }
  pre {
    padding: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    color: #333;
  }
